:root {
  --color-lightn: #c4cfde;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home:hover {
  color: red;
}
.about:hover {
  color: red;
}
.edu:hover {
  color: red;
}
.port:hover {
  color: red;
}
.contact:hover {
  color: red;
}
/* Icons */
.youtube {
  border: 15px;
}
element.style {
}

.mt-5 {
  margin-top: 3rem !important;
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1280px !important;
  }
}

/* .thumbnail::before {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: calc(100% - 130px);
  content: "";
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: var(--background-color-1);
  box-shadow: var(--shadow-1);
  border-radius: 6px;
} */

/* NavBar */
.navbar {
  /* color: #ff014f; */
  background-color: #282c34;
}
.navbar li a {
  color: white;
  background-color: #282c34;
}
.navbar li a:hover {
  color: #ff014f;
}

/* Resume style */

#cards {
  /* color: white; */
  background-color: #212428;
}
.card-text {
  color: #7c838e;
}

.card:hover {
  /* background: linear-gradient(145deg, #1e2024, #23272b); */
  background: linear-gradient(to right bottom, #212428, #16181c);
  /* transform: scale(1.1); */
}

.card:hover .card-body {
  transform: translateY(-20px);
}

/* Resume componenet */

.experience_list {
  border-left: 5px solid #17191c;
  padding-left: 31px;
}
.heading {
  font-family: "Poppins", sans-serif;
}
.resume-single-list .card::before {
  position: absolute;
  content: "";
  height: 5px;
  width: 35px;
  background-color: #17191c;
  right: 567px;
  top: 78px;
}
.resume-single-list .card::after {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #282c34;
  border: 4px solid #17191c;
  right: 590px;
  top: 70px;
}
.resume-single-list .card:hover::after {
  background-color: red;
}
.resume-single-list .card .card-header .title .heading_maintitle {
  color: #7c838e;
  display: block;
  font-size: 14px;
}
.date_time {
  color: #ff014f;
}
.we_do_content,
#cards {
  height: 100%;
}
#what_do .card {
  /* background: red; */
}
#what_do .card:hover .icon {
  transform: scale(1.1);
}
.we_do_text_heading {
  /* font-weight: 500; */
  /* font-size: 24px; */
  line-height: 32px;
  margin-bottom: 20px;
  color: #c4cfde;
}

.we_do_description {
  font-size: 16px;
  line-height: 28px;
  color: #c4cfde;
  transition: 0.4s;
}
.we_do_content
  .card
  .card-body
  .container-fluid
  .we_do_text
  .we_do_description:hover {
  color: red;
  transition: 0.4s;
}

.what_do_feature {
  color: #ff014f;
  letter-spacing: 1px;
  display: block;
  line-height: 14px;
  margin-bottom: 10px;
}

.what_do_heading {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--color-lightn);
  margin-top: 15px;
  margin-bottom: 0;
}
.icon svg {
  color: #ff014f;
}
.we_do_portfolio {
  color: #ff014f;
  letter-spacing: 1px;
  display: block;
  line-height: 14px;
  margin-bottom: 10px;
}
